{% extends 'base.html' %}
{% load static %}

{% block main %}

	<!-- start flexslider -->
	<div class="flexslider">
		<ul class="slides">
			<li>
			<img src="{% static 'images/slider-img1.jpg' %}" alt="Pizza Image 1">
				<div class="flex-caption">
					<h2 class="slider-title">We make Pizza</h2>
					<h3 class="slider-subtitle">Fresh, clean, and delicious.</h3>
					<p class="slider-description">Praesent tincidunt neque semper elementum gravida. Donec id euismod magna. Ut erat ligula, malesuada eu quam a, fringilla auctor augue.</p>
				</div>
			</li>
			<li>
				<img src="{% static 'images/slider-img2.jpg' %}" alt="Pizza Image 2">
				<div class="flex-caption">
					<h2 class="slider-title">Freshly Baked Pizza</h2>
					<h3 class="slider-subtitle">Premium Quality, Finest Ingredients</h3>
					<p class="slider-description">Donec id euismod magna. Ut erat ligula, malesuada eu quam a, fringilla auctor augue. Praesent tincidunt neque semper elementum gravida.</p>
				</div>
			</li>
		</ul>
	</div>
	<!-- end flexslider -->

	<!-- start about -->
	<section id="about" class="templatemo-section templatemo-top-130">
	</section>
	<!-- end about -->

	<!-- start gallery -->
	<section id="gallery" class="templatemo-section templatemo-light-gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-center text-uppercase">Categories</h2>
					<hr>
				</div>

				{% if products.count > 0 %}
					{% for product in products %}
						<div class="col-md-4 col-sm-4" >
							<a href="">							
								<div class="gallery-wrapper">
									<img src="{% get_media_prefix %}{{product.image}}" class="img-responsive gallery-img" alt="">
									<div class="gallery-des">
										<h3>{{product.title}}</h3>
										<h5>{{product.description|truncatechars:50}}</h5>
										<h6>narxi : {{product.price}}</h6>
										<button href="#" type="submit"  class="btn  btn-primary"> 
											<i class="fas fa-shopping-cart"></i> 
											<span class="text">Sotib olish</span> 
										</button>
									</div>
								</div>
							</a>
						</div>	
					{% endfor %}		
				{% else %}	
					<section class="section-content bg padding-y">
						<div class="container">
							<header class="section-heading">
								<h2 class="section-title">Siz izlagan mahsulotlar topilmadi!</h2>
							</header>
							<article>
								<p>Iltimos <a href="{% url 'bosh-sahifa' %}">bosh sahifa</a>ga o'tib mahsulotlarni qidiring</p>
							</article>
						</div>
					</section>
				{% endif %}
			</div>
		</div>
	</section>
	<!-- end gallery -->
{% endblock main %}